// Body
body {
  background-color: rgb(193, 193, 193);
  background-image: url("../images/background-film.png");
  background-size: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
main {
  position: relative;
  top: 9rem;
  padding-bottom: 5rem;
}
.home-page {
  width: 100vw;
}
